
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
  <title>A propos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'statistiques/CSS/index.css' %}" />
  <script src="{% static 'statistiques/JS/index.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'statistiques/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'statistiques/CSS/STATS/stats.css' %}">
  <script src="{% static 'statistiques/bootstrap/js/jquery.js' %}"></script>
  <script src="{% static 'statistiques/bootstrap/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>


</head>

<body>
<style type="text/css">
  .form-control{
    margin-bottom:1%;
    margin-top: 1%;
  }
</style>
{% include 'accueil_login/menu_utilisateur.html' %}

<div class="container">
  <div class="text-center mt-2 mb-2">
    <h3>Mon compte</h3>
    </div>
  <div class="row">
    
    <div class="col-md">
       <div class="container mt-2 mb-2">
  <div class="d-flex justify-content-between">
    <div class="p-1">
    </div>
    <div>
            <img class="card-img-top"  src="{% static 'profil/user.png'%}" style="max-height: 150px; max-width: 150px;" >
    </div>
    <div class="p-1">
      
    </div>
  </div>
</div>
    </div>
  </div>
    <div class="row">
       <div class="d-flex justify-content-between">
    <div class="p-1">
    </div>
    <div>

    </div>
    <div class="p-1">
      
    </div>
  </div>

    </div>
  
<form method="POST" class="post-form ">{% csrf_token %}
{% for field in form %}
        <div class="form-control">
          {{ field.label_tag }}

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}


        </div>
      {% endfor %}



</form>
  </div>

<div class="container mt-2 mb-2">
  <div class="d-flex justify-content-between">
    <div class="p-1">
    </div>
    <div>
            <button type="submit" class="btn btn-info">Modifier le profil</button>
    </div>
    <div class="p-1">
      
    </div>
  </div>
</div>


  {% include 'accueil_login/footer.html' %}
  </body>
  </html>

