{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Nous contacter</title>
  <!-- UIkit CSS -->
   <!--<link rel="stylesheet" type="text/css" href="{% static 'importationfichier/CSS/uikit.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'importationfichier/CSS/index.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

  <script src="{% static 'importationfichier/JS/uikit.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
 
  <script src="{% static 'importationfichier/JS/uikit-icons.min.js' %}"></script>
    -->
  <script src="{% static 'importationfichier/JS/index.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'importationfichier/bootstrap/css/bootstrap.css' %}">
  <script src="{% static 'importationfichier/bootstrap/js/jquery.js' %}"></script>
  <script src="{% static 'importationfichier/bootstrap/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'accueil_login/CSS/accueil.css' %}">
  <link rel="stylesheet" href="{% static 'accueil_login/CSS/footer.css' %}">
  <link rel="stylesheet" href="{% static 'nous_contacter/CSS/contact.css' %}">

  </head>

  <body>

  <!-- Inclusion de la barre de menu -->
  {% block content %}
    {% include 'accueil_login/menu_utilisateur.html' %}

  
  {% if envoi %}
    <div class="alert alert-success" role="alert">
      Votre message a bien été envoyé !
    </div>
  {% endif %}  
  
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-sm">
            <form class="form-horizontal" action="" method="post">
            <fieldset>
              <legend class="text-center">Nous contacter</legend>
              <hr>

              {% csrf_token %}

              <!-- Subject input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="id_sujet">Sujet</label>
                <div class="col-md-9">
                  <input id="id_sujet" name="sujet" type="text" placeholder="Votre sujet" class="form-control" maxlength="100">
                </div>
              </div>
      
              <!-- Email input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="id_envoyeur">E-mail</label>
                <div class="col-md-9">
                  <input id="id_envoyeur" name="envoyeur" type="text" placeholder="Votre e-mail" class="form-control">
                </div>
              </div>
      
              <!-- Message body -->
              <div class="form-group">
                <label class="col-md-3 control-label" for="id_message">Message</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="id_message" name="message" placeholder="Veuillez entrer votre message ici ..." rows="5"></textarea>
                </div>
              </div>

              <!-- Case à cocher -->
              <p><input type="checkbox" name="renvoi" id="id_renvoi" /> <span class="helptext">Cochez si vous souhaitez obtenir une copie du mail envoyé.</span></p>
      
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Où sommes-nous ?</h3>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.2531389455903!2d-89.23024619999998!3d48.4516724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d5923dbfe697737%3A0xc9d925c9bc9573fa!2s116+Bruce+St%2C+Thunder+Bay%2C+ON+P7A+5W6!5e0!3m2!1sen!2sca!4v1424272264157" frameborder="0" style="border:0"></iframe>
      </div></div></div>

  <!-- Inclusion du footer -->
    {% include 'accueil_login/footer.html' %}
  {% endblock %}


</body>
</html>
    
    